*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg,#ab836e,White);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}
/*TARJETAS*/
nav{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    list-style: none;
    padding: 20px;
    margin: 0;
}
nav a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
     background-color: black;
     padding: 10px 18px;
     border-radius: 6px;
     transition: all 0.3s ease;
}
nav{
    display: flex;
    gap: 20px;
}

  
nav a::after{
    content: "";
    position:absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background:black;
    transition: 0.3s;

}

nav a:hover::after{
    width: 100%;

}

nav a:hover{
    background-color: #c67124;
    color:#ffffff;
    transform: translateY(-2px);
}

.fondo{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f1ea;
}
/*Portada*/
.entrada{
   width: 100%;
   min-height: 100vh;
   
   display: flex;
   align-items: center;
 justify-content: space-between;
 background: #f7f1ea

}
/*TEXTO*/
.contenido{
    width: 45%;
  padding: 80px;
}
.logo{
    width: 120px;
    margin-bottom: 20px;
}
.bienvenida{
    color: #b46b00;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.contenido h1{
    font-size: 70px;
    color: #2d1606;
    line-height: 1.1;
        margin-bottom: 20px;
}
.descripcion{
    font-size: 22px;
    color: #444;
    line-height: 1.5;
}
.foto{
    width: 55%;
    min-height: 100vh;
    background-image: url(img/fondo1.jpg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 15px 15px 25px black;
    margin-bottom: 20px;
    transition: 0.3s ease;
    margin-top: 50px;
}
img:hover{
    transform: scale(1.05);
}

body{
    background-color: #7f5539;
}
/*BOTONES PORQUE LA YULI ME ORDENA PONERLO*/

button{
    padding: 15px 25px;
    background-color: #c8956e;
    padding: 20px;
    border: 3px solid #ab836e;
    background: #352720;
    color: #c8956e;
    font-size: 20px;
    box-shadow: 0 0 10px #c8956e, 0 0 20px #c8956e;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    background: #c8956e;
    color: black;
    transform: scale(1.1);
    border-radius: 0 25px 0 25px;
}
a{
    text-decoration: none;
}
p{
    font-size: 20px;
    background-position: center;
}
H3{
    font-size: 22px;
}
table{
    margin:0 auto;
    background-color: #ede0d4;
    border:collapse;
    font-size:15px;
    border-radius: 15px;
    padding: 15px 25px;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

table th{
    background-color: #8B5E3C;
    color: white;
    padding: 15px;
}

table td{
    padding: 12px;
    text-align: center;
    border: none;
}
