body{
    background-color: #f5ebe0;
    
    }
.links{
    list-style: none;
    background-color: #3e2c23;
    padding: 40px;
    justify-content:right;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
img{
    width: 150px;
    height: auto;
}